@import '~bootstrap';

h1{
    text-align: center;
    color: rgb(239, 105, 66);
    margin: 15px 0;
}
h2{
    text-align: center;
    margin: 20px 0;
}
h3{
    text-align: center;
}
th{
    text-align: center;
    color: rgb(239, 105, 66);
}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.btn{
    margin-left: 10px;
}
input{
    margin-left: 10px;
    height: 38px;
}
.logout {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    /* Additional styling for the alert */
}
li{
    font-size: 26px;
}
span{
    color: rgb(239, 105, 66);
}
.add{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.userPhoto{
    width: 96px;
    height: 96px;
}
td{
    text-align: center;
}
.successButton:hover{
    background-color: #79d782;
}
