{#<div>#}
{#    <h1 style="color: orange">Hello moebel!</h1>#}
{#    <h2>Sign Up</h2>#}
{#    <form method="post" action="{{ path('sign_up') }}">#}
{#        <input type="email" name="signUpEmail" placeholder="Your email">#}
{#        <input type="password" name="signUpPassword" placeholder="Your password">#}
{#        <button type="submit">Sign Up</button>#}
{#    </form>#}
{#</div>#}
