{% extends './base.html.twig' %}
{% block body %}
    <div>
        <div class="logout">
            <form action="{{ path('table') }}" method="post">
                <button class="btn btn-outline-primary" type="submit">Go to table</button>
            </form>
        </div>
        <h3>Here is all todos from other user <span>{{ email }}</span></h3>
        {% for skill in skills %}
            <ul>
                <li>
                    {{ skill }}
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
